name: Deploy stage

on:
  push:
    branches: [ release-stage ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Wait for access
      run: |
        until $(curl --output /dev/null --silent --head --fail ${{ secrets.STAGETESTURL }}); do
          curl https://api.ipify.org/
          echo " is the agent IP address. Please update firewall rules. Waiting for access..."
          sleep 5
        done
    - uses: actions/checkout@v2
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_stage:/srv/jekyll/_stage \
        jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build --trace --config /srv/jekyll/_config_stage.yml"
        cp -rf ${{ github.workspace }}/_stage_extra/* ${{ github.workspace }}/_stage/
    - uses: bacongobbler/azure-blob-storage-upload@v1.0.0
      with:
        source_dir: ${{ github.workspace }}/_stage
        container_name: $web
        connection_string: ${{ secrets.AzureStorageConnectionStringStage }}
    - name: Wait to be blocked
      run: |
        while $(curl --output /dev/null --silent --head --fail ${{ secrets.STAGETESTURL }}); do
          echo "Please update firewall rules. Waiting to be blocked..."
          sleep 5
        done
