name: Deploy stage

on:
  push:
    branches: [ release-stage ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_stage:/srv/jekyll/_stage \
        jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build --trace --config /srv/jekyll/_config_stage.yml"
    - uses: bacongobbler/azure-blob-storage-upload@v1.0.0
      with:
        source_dir: ${{ github.workspace }}/_stage
        container_name: $web
        connection_string: ${{ secrets.AzureStorageConnectionStringStage }}
        extra_args: '--content-cache-control no-cache'
